<nav id="navbar" th:fragment="navbar">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="navbarTitle">Hack de blog</h4>
        <th:block th:unless="${user}">
            <div>
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/register" class="btn btn-primary">Register</a>
            </div>
        </th:block>
        <th:block th:if="${user}">
            <div class="d-flex">
                <a href="/admin" class="btn btn-primary">Admin</a>
                <form action="/logout" method="post" class="ms-2">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-danger">Log Out</button>
                </form>
            </div>
        </th:block>
    </div>
</nav>
