<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:block th:replace="fragments/styles"></th:block>
    <title>Edit Comment</title>
</head>
<body>
<div th:replace="fragments/navbar-admin :: navbar-admin"></div>
<div class="d-flex justify-content-center container mt-4 p-4">
    <h5 th:text="|Edit the comment of ${comment.author.firstname} ${comment.author.lastname} in the article ${comment.article.title}|">
    </h5>
</div>
<div class="container">
    <form
            method="post"
            th:action="|/comments/edit/${comment.id}|"
    >
        <div class="container mt-4 crearArticulo">
            <div class="mb-3">
                <label class="form-label">Content</label>
                <textarea
                        class="form-control"
                        id="modificarContenidoComentario"
                        rows="3"
                        name="content"
                        th:text="${comment.content}"
                >
                </textarea>
            </div>
            <button type="submit" class="btn btn-success">Edit</button>
        </div>
    </form>
    <a class="back" href="/admin"> <i class="fa-solid fa-left-long"></i> Return </a>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>
