<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:blocK th:replace="fragments/styles"></th:blocK>
</head>
<body>
<div th:replace="fragments/navbar-admin :: navbar-admin"></div>
<table class="container d-flex justify-content-center mt-4" id="adminTable">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    <div th:each="user : ${users}">
        <tr th:id="|usuario${user.id}|">
            <td th:text="${user.id}"></td>
            <td th:text="|${user.firstname} ${user.lastname}|"></td>
            <!--            <td><%= user.role %></td>-->
            <td class="d-flex">
                <a th:href="|/admin/users/edit/${user.id}|" class="btn btn-warning">Editar</a>
                <a th:href="|/users/delete/${user.id}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    </div>
</table>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>
